<%- include ("../header.ejs") %>

        <div class="enter-token">
            <h2>Token</h2><br>
            <input type="text" id="tokeninput" name="tokeninput" value="">
            <span></span>
        </div>
        <button class="enter-button" id="entertoken">Enter Token</button>


        <div class="search-list-container">
            <ul class="search-list" id="search-list">

            </ul>
        </div>

    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click',() => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click',() => {
            nav.classList.remove('menu-btn');
        })
    </script>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        
        $(document).ready (function() {
            $("#entertoken").on("click", function() {
                console.log("click search btn!");
                var userInputForm = $('#entertoken').val(); 
        
            console.log("start ajax call");
            $.ajax({
                url: "/entertoken",
                type: "POST",
                data: {
                    'tokenString': $("#tokeninput").val() 
                },
                success: function(response, status, http) {

                    if(response.length > 0) {

                        if (response) {
                            console.log('AJAX worked!');
                            console.log(response);
                            var toAppendHtml = "";

                            $("#nouser").remove();
                            $("#search-list li").remove();  

                            for (var data in response) {

                                var id = response[data].PrescriptionID;
                                var presName = response[data].PrescriptionName; 
                                var Token = response[data].Token; 
                                var PrescribedOn = response[data].PrescribedOn; 
                                var PrescribedTo = response[data].PrescribedTo; 
                                var status = response[data].PrescriptionStatus;
                                var DispensedOn = response[data].DispensedOn;

                                var statusString;

                                if(status == '1') {
                                    statusString = 'Dispensed';
                                } else {
                                    statusString = 'Not Dispensed';
                                }

                                if(DispensedOn == null) {
                                    DispensedOn = 'Not Yet Dispensed';
                                }

                                toAppendHtml += "<li class='list-data-container'>" + 
                                    "<span>Prescription ID: " + id + "</span> <br>" +
                                    "<span>Prescription Name: " + presName + "</span> <br>" +
                                    "<span>Prescribed To: " + PrescribedTo + "</span> <br>" +
                                    "<span>Prescribed On: " + PrescribedOn + "</span> <br>" +
                                    "<span>Status: " + statusString + "</span> <br>" +
                                    "<span>Dispensed On: " + DispensedOn + "</span> <br>" +
                                    "<br>" +
                                    "<div><a class='enter-button' href='/pharmacist/updatestatus/" + 
                                    id + "'>View Prescription</a></div> <br> </li>" ;
                                                          
                            }

                            $("#search-list").append(toAppendHtml);                           
                        }
                    }

                    else {
                        console.log("EMPTY AJAX");

                        $("#nouser").remove();
                        $("#search-list li").remove();

                        var toAppendHtml = "<h2 id='nouser'>NO PRESCRIPTION FOUND</h2>";

                        $(toAppendHtml).insertAfter("#search-list");

                    }
                }
                , error: function(e){
                    console.log('error');
                    console.log(e);
                }
                });


            })
        });
        
    </script>

</body>

</html>

