<%- include ("../header.ejs") %>

        <div class="add-container">
            <h2>ADD USER PROFILE</h2>
            
                <!-- add more text fields ... 
                    firstname, lastname, confirm pass, email, gender...
                -->
                <% user.forEach(function(user) { %>
                    <form name="addUserAccount" method="post" action="/saveprofile">
                        <input type="hidden" name="userid" value = "<%= user.UserID %>">
                        <div class="add-txt-field">
                            <label>Username</label>
                            <input type="text" id="username" name="username" value="<%= user.Username %>" disabled>
                            <span></span>                
                        </div>
                        <div class="add-txt-field">
                            <label>Name</label>
                            <input type="text" id="fname" name="name" value="<%= user.Name %>" disabled>
                            <span></span>
                        </div>
                        <div class="add-txt-field">
                            <label>Role</label>
                            <select id="roles" name="roles" required>
                                <option value="Patient">Patient</option>
                                <option value="Doctor">Doctor</option>
                                <option value="Pharmacist">Pharmacist</option>
                                <option value="Admin">Admin</option>
                            </select>
                            <span></span>
                        </div> 
                            
        
                        <input class="enter-button" type="submit" value="Add User Profile">
                    </form>
                <% }); %>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click',() => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click',() => {
            nav.classList.remove('menu-btn');
        })
    </script>
</body>

</html>

