<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Luna Seekers - Clinic Apps</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/main.css">
      
</head>
<body>
    <div class="navbar">
        <div class="container">

            <% if(sessRole == "Admin") { %>
                <a class="logo" href="/AdminHome"><img class="logo" src="/images/LunaSeekers_logo.png" alt="Logo"> </a>

                <img id="mobile-cta" class="mobile-menu" src="/images/hamburger.svg" alt="Open Navigation">                
                <nav>
                    <span id="mobile-exit" class="mobile-menu-exit">
                        <ion-icon name="close-outline"></ion-icon>
                    </span>
                    <ul class='primary-nav'>
                        <li class="current"><a href="/AdminHome">Home</a></li>
                        <li class="current"><a href="#">My Profile</a></li>
                        
                    </ul> 
                </nav>

            <% } else if(sessRole == "Doctor") { %>
                <a class="logo" href="/DoctorHome"><img class="logo" src="/images/LunaSeekers_logo.png" alt="Logo"> </a>

                <img id="mobile-cta" class="mobile-menu" src="/images/hamburger.svg" alt="Open Navigation"> 
                
                <nav>
                    <span id="mobile-exit" class="mobile-menu-exit">
                        <ion-icon name="close-outline"></ion-icon>
                    </span>
                    <ul class='primary-nav'>
                        <li class="current"><a href="/DoctorHome">Home</a></li>
                        <li class="current"><a href="#">My Profile</a></li>
                        
                    </ul> 
                </nav>
            <% } else if(sessRole == "Patient") { %>
                <a class="logo" href="/PatientHome"><img class="logo" src="/images/LunaSeekers_logo.png" alt="Logo"> </a>

                <img id="mobile-cta" class="mobile-menu" src="/images/hamburger.svg" alt="Open Navigation"> 
                
                <nav>
                    <span id="mobile-exit" class="mobile-menu-exit">
                        <ion-icon name="close-outline"></ion-icon>
                    </span>
                    <ul class='primary-nav'>
                        <li class="current"><a href="/PatientHome">Home</a></li>
                        <li class="current"><a href="#">My Profile</a></li>
                        
                    </ul> 
                </nav>
            <% } else if(sessRole == "Pharmacist") { %>
                <a class="logo" href="/PharmacistHome"><img class="logo" src="/images/LunaSeekers_logo.png" alt="Logo"> </a>

                <img id="mobile-cta" class="mobile-menu" src="/images/hamburger.svg" alt="Open Navigation"> 
                
                <nav>
                    <span id="mobile-exit" class="mobile-menu-exit">
                        <ion-icon name="close-outline"></ion-icon>
                    </span>
                    <ul class='primary-nav'>
                        <li class="current"><a href="/PharmacistHome">Home</a></li>
                        <li class="current"><a href="#">My Profile</a></li>
                        
                    </ul> 
                </nav>
            <% } %>
        </div>
    </div>

    <section class='hero'>
        <h1>
            Welcome <%= sessRole %> <%= name %>
        </h1>
        <br>